@model MyBook.DL.Entities.Article

<div class="well">
    <h3>
        <strong>@Model.Title</strong>
    </h3>
    <span class="lead">
        <p>@Model.Annotation</p> 
        
    </span>
    <span class="pull-right label label-primary">
        <p>@Model.Date</p>
    </span>
</div>